<div  id="Gallery" ng-init="PagesBack()">
  <div id="issue_information">
    <b>Issue Number:  </b> {{ issueInfo.number }} <b> Title: </b> {{ issueInfo.name }}
  </div>
  <div class= "showPage" >
    <img ng-src="{{ currentPage.page_location }}" alt="page number: {{ currentPage.page_number}}" height= "500px" />
    <p>page number: {{ currentPage.page_number}}</p>
    <!-- navigation bar under page -->
    <div id = galleryNav>
      <button type="button" name="Prevbutton" ng-click= "prevPage()">Previous</button>
        <a href="#library">Library</a>
      <button type="button" name="Nextbutton" ng-click= "nextPage()">Next</button>
    </div>
  </div>
  <!-- display thumbnails -->
  <div class = "row">
    <div class= "showIssues col-md-8" ng-repeat='record in issueToView'>
      <button type="button" name="thumbnail_button" ng-click="thumbnailPageOpen( $index )"><img ng-src="{{record.page_thumbnail}}" alt="{{record.page_number}}'s thumbnail" height= "50px" /></button>
    </div>
  </div>
