<!-- <!DOCTYPE html>
<html ng-app = 'myApp'>
  <head>
    <meta charset="utf-8">
    <title>Wanderlust Reader Library</title>
  </head>
  <body> -->
    <div id='displayIssues' ng-init="getIssues()">
      <h2>Available Issues:</h2>
        <div class = "row">
            <div class= "showIssues col-md-6" ng-repeat='record in allIssues'>
              <h4>
                <button class="btn btn-danger" ng-click= "galleryOpen($index)" ><img ng-src="{{record.issue_thumbnail}}" alt="{{record.issue_name}}'s cover" height= "50px" /></button>
                <b>Issue Number:  </b> {{ record.issue_number}} <b> Title: </b> {{ record.issue_name}}
               </h4>
               <div class= "showIssues col-md-6" ng-repeat='record in IssuetoView'>
                 <b> Page: </b> {{ record.pages }}
               </div>
             </div>
         </div>
     </div>
  <!-- </body>
</html> -->
