<!DOCTYPE html>
<html >
    <head>
        <title>Wanderlust Comic Viewer</title>
        <script type="text/javascript" src="/vendors/angular.min.js"></script>
        <script type="text/javascript" src="/scripts/app.js"></script>
        <link rel="stylesheet" href="/vendors/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link href='https://fonts.googleapis.com/css?family=Cutive+Mono|Podkova' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Averia+Serif+Libre' rel='stylesheet' type='text/css'>
    </head>

    <!-- <body ng-app="myApp"> -->
        <div class="instructions">
            <div class="container">
                <h1 class="lead">Wanderlust Reader Login</h1>
            </div>
        </div>
        <div class="container">
            <!-- Set form action and method -->
            <form action="/" method="post">
                <div>
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username"/>
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password"/>
                </div>
                <div>
                    <input type="submit" value="Log In"/>
                    <a href="/register">Register</a>
                </div>
            </form>
        </div>
    </body>
<!-- </html> -->
