body{
  background-color: #181919;
  color: #B11919;
  font-family: 'Averia Serif Libre', cursive;
}
h1{
  font-family: 'Special Elite', cursive;
  float: left;
  margin-left: 40px;
}
h2{
  font-family: 'Special Elite', cursive; ;
}
a{
    color: #D6450E;
}
p{
  font-size: 18px;
}
button{
  margin: 2px;
}

a{
  text-decoration: bold;
  text-decoration-color: currentColor;
}
a:link {
color: #B43200;
}
a:visited {
color: #6B0000;
}
a:hover {
color: #6B0000;
}
header{
  position: fixed;
  background-color: black;
  top: 0;
  right: 0;
  left: 0;
}
footer{
  position: fixed;
  background-color: black;
      bottom: 0;
      right: 0;
      left: 0;
      /*border: 3px solid white;*/
}
#nav{
  float: right;
  padding: 5px;
  margin-right: 20px

}
#addIn{
  background-color: white;
  padding: 100px;
  margin: 50px;
}

#displayIssues{
  background-color: white;
  padding: 100px;
  margin: 50px;
  margin-bottom: 80px;
}
#welcomeText{
  background-color: white;
  padding: 100px;
  margin: 50px;
}
#Gallery{
  background-color: white;
  padding: 100px;
  margin: 50px;
}
#issueInformation{
  text-align: right;
}
#showPage img{
  -webkit-box-shadow: 0px 10px 36px -10px rgba(0,0,0,0.41);
  -moz-box-shadow: 0px 10px 36px -10px rgba(0,0,0,0.41);
  box-shadow: 0px 10px 36px -10px rgba(0,0,0,0.41);
  margin: auto;

  /*transition: -webkit-transform 0.5s ease;*/
}
/*#showPage img:active {
    -webkit-transform: scale(2);
}*/
#galleryNav{
  display:block;
  text-align: center;
  margin: 0 auto;
}
#galleryImg img {
   cursor: crosshair;
    transition: -webkit-transform 0.5s ease;
    /*margin: auto;*/
}

#galleryImg img:active {
    -webkit-transform: scale(2);
    /*margin: auto;*/
}
#modalButtonDiv{
  margin: 10px;
}
#pageNumDisplay{
  text-align: center;
}
.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;

}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}

.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}
